<%= form_with(model: note) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, '제목' %>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :article_link, '기사 링크' %>
    <%= form.text_field :article_link, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :content, '본문' %>
    <%= form.rich_text_area :content, class:"form-control", rows: 3 %>
  </div>

  <div class="form-group">
    <%= form.label :photo , '사진 업로드'%>
    <%= form.file_field :photo, class: "form-control-file" %>
  </div>

  <div class="form-group">
    <%= form.label :tag_list, '태그' %>
    <%= form.text_field :tag_list, value: @note.tag_list.join(', '), class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "작성하기", class: "btn btn-primary"%>
  </div>
<% end %>
