<div class="row">
  <div class="col">
    <p id="notice"><%= notice %></p>
  </div>
</div>
<div class="row pb-5">
  <div class="col-md-10 col-sm-12">
    <h4>이슈 노트</h4>
  </div>
  <div class="col-md-2 col-sm-12" style="text-align: right;">
    <%= link_to '새 노트', new_note_path %>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table table-hover ">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Tags</th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @notes.each do |note| %>
          <tr>
            <td><%= note.title %></td>
            <td><%= note.tag_list %></td>
            <td><%= link_to 'Show', note %></td>
            <td><%= link_to 'Edit', edit_note_path(note) %></td>
            <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


