<div class="row">
  <div class="col">
    <% if notice.present? %>
      <div id="notice" class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>
      <%= @note.title %>
    </h2>
    <p style="text-align: right;">
      <span><strong>조회수:</strong></span>
      <span>
        <%= @note.view_count %>
      </span>
    </p>
  </div>
</div>

<div class="row">
    <% @note.articles.each do |article| %>
    <div class="col">
      <div class="card note-article-container">
        <% if article.imageSrc.present? %>
          <img src="<%= article.imageSrc %>" class="card-img-top" alt="기사 사진">
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= article.title %></h5>
          <p class="card-text"><%= article.summary %></p>
          <p class="card-text"><%= article.publishedAt %></p>
          <a href="<%= article.url %>" class="btn btn-outline-primary btn-sm">기사 보기</a>
        </div>
      </div>
    </div>
    <% end %>
</div>

<div class="row">
  <div class="col note-content-container py-3">
    <%= @note.content %>
  </div>
</div>


<div class="row">
  <div class="col">
    <strong>태그</strong>
    <% @note.tags.each do |tag| %>
      <span><strong>#</strong><%= tag.name %></span>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="col">
    <p>
      <% if @note.photo.attached? %>
        <%= image_tag(@note.photo.variant(resize_to_limit: [300, 300]), :alt=> "Note Photo") %>
      <% end %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= button_to "좋아요", note_like_path(@note)%>
    <span>좋아요 수</span>
    <span><%= @note.get_likes.size %></span>
  </div>
</div>

<div class="row py-3">
  <div class="col">
    <%= link_to '수정', edit_note_path(@note) %> |
    <%= link_to '목록', notes_path %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col">
    <h4>댓글</h4>
    <% @note.comment_threads.each do |comment| %>
      <div class="row border">
        <div class="col-12">
          <p class=""><%= comment.user.email %></p>
          <div class="row">
            <div class="col-10">
              <p><%= comment.body %></p>
            </div>
            <div class="col-2" style="text-align: right;">
              <span><%= link_to '수정', edit_note_comment_path(@note, comment) %></span>
              <span><%= link_to '삭제', note_comment_path(@note, comment), method: :delete, data: { confirm: 'Are you sure?' } %></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<hr>

<div class="row">
  <div class="col">
    <p>댓글 작성</p>
    <%= form_with model: [ @note, @note.comment_threads.build ] do |form| %>
      <p><%= form.text_area :body %></p>
      <p><%= form.submit %></p>
    <% end %>
  </div>
</div>