
<div class="row">
  <div class="col">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>
      <%= @note.title %>
    </h2>
    <p style="text-align: right;">
      <span><strong>조회수:</strong></span>
      <span>
        <%= @note.view_count %>
      </span>
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>
      <%= @note.content %>
    </p>
  </div>
</div>


<div class="row">
  <div class="col">
    <p>
      <strong>태그</strong>
      <%= @note.tag_list %>
    </p>
  </div>
</div>


<div class="row">
  <div class="col">
    <p>
      <% if @note.photo.attached? %>
        <%= image_tag(@note.photo.variant(resize_to_limit: [300, 300]), :alt=> "Note Photo") %>
      <% end %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= link_to '수정', edit_note_path(@note) %> |
    <%= link_to '목록', notes_path %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col">
    <h4>댓글</h4>
    <% @note.comment_threads.each do |comment| %>
      <div class="row">
        <div class="col">
          <p><%= comment.user.email %></p>
          <p><%= comment.body %></p>
          <span><%= link_to 'Edit', edit_note_comment_path(@note, comment) %></span>
          <span><%= link_to 'Destroy', note_comment_path(@note, comment), method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>


<hr>

<div class="row">
  <div class="col">
    <p>댓글 작성</p>
    <%= form_with model: [ @note, @note.comment_threads.build ] do |form| %>
      <p>
        <%= form.text_area :body %>
      </p>
      <p>
        <%= form.submit %>
      </p>
    <% end %>
  </div>
</div>
