<!DOCTYPE html>
<html>
  <head>
    <title>IssueNote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </head>

  <body>
    <div class="container">
      <div class="row pb-5 justify-content-end" style="text-align: right;">
        <div class="col-4">
          <% if user_signed_in? %>
            <span><%= current_user.email %></span>
            <%= link_to '수정', edit_user_registration_path %> |
            <%= link_to '로그아웃', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to 'Sign up', new_user_registration_path %> |
            <%= link_to 'Login', new_user_session_path %> 
          <% end %>
        </div>
      </div>

    
    <%= yield %>
    
    </div>
  </body>
</html>
