<!DOCTYPE html>
<html>
  <head>
    <title>IssueNote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <!-- 
          <img src="<%= image_path 'noun_post_3834768.png' %>" width="30" height="24" class="app-nav-img d-inline-block align-text-top">
          -->
          <span class="app-nav-title">이슈 노트</span>
        </a>
        <div class="d-flex">
          <% if user_signed_in? %>
            <span>
              <span class="pr-3"> 
                <a class="nav-right-link" href="<%= new_user_session_path %>">
                  <%= current_user.email %>
                </a>
              </span>
              <span>
                <%= link_to '로그아웃', destroy_user_session_path, method: :delete, class:"nav-right-link" %>
              </span>
            </span>
          <% else %>
            <span>
              <span class="pr-3"> 
                <a class="nav-right-link" href="<%= new_user_session_path %>">로그인</a>
              </span>
              <span>
                <a class="nav-right-link" href="<%= new_user_registration_path %>">회원가입</a>
              </span>
            </span>
          <% end %>
        </div>
      </div>
    </nav>
    <!-- 
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    -->
    <div class="content-container container">

      <div class="row">
        <div class="col">
          <%= yield %>
        </div>
      </div>
    
    </div>
  </body>
</html>
